

.hero-gradient {
  background-image: url('/static/fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: makes the image stay while scrolling */
}
