

.hero-gradient {
  background-image: url('/static/fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: makes the image stay while scrolling */
}

.active-tab {
  border-color: #3b82f6; /* Tailwind's blue-500 or your primary color */
  color: #3b82f6;
}

mjx-container[jax="SVG"][display="false"] {
  display: inline !important;
  vertical-align: middle !important; /* aligne mieux avec le texte */
  margin: 0 !important;   /* annule toute marge ajoutée */
  padding: 0 !important;  /* annule padding éventuel */
  white-space: nowrap !important;    /* empêche les retours à la ligne à l’intérieur */
}
/* Custom styles for MathJax rendering */
.MathJax {
    font-size: 1.1em !important;
}